@use "../../assets/styles/variables" as v

.themeLight
    background: v.$light-tile-background

.themeDark
    background: v.$dark-tile-background

.day
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    padding: 8px 0px 8px
    border-radius: v.$border-radius
    font-weight: 300
    
    &:hover
        cursor: pointer

.icon 
    img
        width: 3.8vw
        margin-top: 6px

@media screen and (max-width: 900px)
    .icon
        img
            width: 6vw

@media screen and (max-width: 760px)
    .icon
        img
            width: 9vw