@use "../WeatherNow/WeatherNow.module" as w

.day
    background: w.$tile-background
    width: 12%
    padding: 8px 0px 8px 0px
    border-radius: 24px
    font-weight: 300
    text-align: center

.icon
    width: 54px
    height: 54px