@use "../../assets/styles/variables" as v

.themeLight
    background: v.$light-tile-background

.themeDark
    background: v.$dark-tile-background
    
.weather
    display: grid
    grid-template-columns: 42% 44% 10%
    padding: 8px 12px 2px 12px
    border-radius: 14px
    font-weight: 300
    margin-bottom: 14px

.icon
    img
        width: 30px
        height: 30px
