@use "../../assets/styles/variables" as v
    
.weatherHolder
    grid-area: weather-hourly
    padding: 14px

.weatherContainer
    height: 100%
    overflow-y: scroll
    padding-right: 10px 

.weatherContainer::-webkit-scrollbar
    width: 10px

/* Track */
.weatherContainer
    &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb
        border-radius: v.$border-radius
        -webkit-border-radius: v.$border-radius

/* Handle */
.weatherContainer::-webkit-scrollbar-thumb 
    background: rgba(255, 255, 255, 0.6)

.weatherContainer::-webkit-scrollbar-track 
    background: rgba(255, 255, 255, 0.3)


.themeLight
    @include v.border($property: border-left, $color: v.$light-border)

.themeDark
    @include v.border($property: border-left, $color: v.$dark-border)

    .weatherContainer::-webkit-scrollbar-thumb 
        background: rgba(104, 109, 118, 0.9)

    .weatherContainer::-webkit-scrollbar-track 
        background: rgba(69, 74, 82, 0.4)

@media screen and (max-width: 900px)
    .weatherContainer::-webkit-scrollbar
        width: 6px

    