$primary-logo-color: #2762D4
$secondary-logo-color: #fff

.logo
    font-size: 2vw
    color: $primary-logo-color

.logo:hover > .logoPart
    color: $primary-logo-color

.logo:hover, .logoPart:hover
    cursor: pointer

.logoPart
    color: $secondary-logo-color