$primary-logo-color: #2762D4
$dark-logo-color: #3E3E3E
$light-logo-color: #fff

.logo
    font-size: 2vw
    color: $primary-logo-color

.logo:hover > .logoPart
    color: $primary-logo-color

.logo:hover, .logoPart:hover
    cursor: pointer

.logoPartDark
    color: $dark-logo-color

.logoPartLight
    color: $light-logo-color