@use "../App"
$primary-color: #a6a6a6

.searchbar
    width: 20vw
    background: url(../../assets/images/icons/magnifying-glass-solid.svg) no-repeat 6px
    background-size: 18px
    border: 1px solid $primary-color
    border-radius: 6px
    font-size: 1.3vw
    padding: 6px 0px 6px 30px

.searchbar:focus
    outline: 1px solid $primary-color