$light-bg-color: linear-gradient(45deg,rgba(255, 0, 108, 0.44), #9065BC )
$dark-bg-color: linear-gradient(45deg,#00032e, #000214 )
$primary-font: 'Roboto', sans-serif

*
    padding: 0
    margin: 0
    box-sizing: border-box

html
    font-size: 24px

body
    font-family: $primary-font
    color: #fff

.container
    margin: auto
    width: 90vw

.app
    height: 100vh


.theme--light
    background: $light-bg-color

.theme--dark
    background: $dark-bg-color    
    
    