@use "../../assets/styles/variables" as v
    
.weatherNow
    grid-area: weather-now
    display: grid
    grid-template-columns: 58% 42%
    padding: 20px 0px 0px 20px
    font-weight: 300

.themeLight 
    .sunrise, .sunset, .options 
        background: v.$light-tile-background
    

.themeDark 
    .sunrise, .sunset, .options 
        background: v.$dark-tile-background

.info
    display: grid
    grid-template-rows: 24% 16% 32% 11% 13%

.temperature
    font-size: 2.5em

.city
    font-size: 2.1em

.time
    font-size: 1.9em


.date
    align-self: end
    font-size: 1.8em

.details
    display: grid
    margin-bottom: 20px
    margin-right: 20px

.sunInfo
    display: grid
    grid-template-columns: 50% 50%

.sunrise, .sunset
    width: fit-content
    padding: 20px 14px 34px 14px
    text-align: center
    align-self: start

.sunset
    justify-self: end

.sunriseImg, .sunsetImg
    margin-top: 50%
    margin-bottom: 10% 
    width: 90px

.options
    padding: 20px 14px 12px 40px
    align-self: end
    display: grid
    grid-template-columns: 70% 30%

.sunrise, .sunset, .options
    border-radius: v.$border-radius
    

.wind::before
    background: url(../../assets/images/icons/wind.png)

.humidity::before
    background: url(../../assets/images/icons/waterdrop.png)

.clouds::before
    background: url(../../assets/images/icons/cloudy.png)

.wind, .humidity, .clouds
    position: relative
    padding-bottom: 12px

    &::before
        content: ""
        display: inline-block
        background-size: contain
        background-repeat: no-repeat
        width: 22px
        height: 22px
        position: absolute
        top: 4px
        left: -25px
    
.optionsValues 
    p
        padding-bottom: 12px
        text-align: end