@use "../../assets/styles/variables" as v
    
.weatherDaily
    grid-area: weather-daily
    display: flex
    justify-content: space-around
    position: relative
    padding: 14px 0px 14px 0px


.themeLight
    @include v.border($property: border-top, $color: v.$light-border)

.themeDark
    @include v.border($property: border-top, $color: v.$dark-border)

.swiper 
    width: 92%

.swiperPrevButton
    background: url(../../assets/images/icons/leftArrowWhite.svg) no-repeat 0px
    
.swiperNextButton
    background: url(../../assets/images/icons/rightArrowWhite.svg) no-repeat 0px
    

.swiperPrevButton, .swiperNextButton
    background-size: 24px
    &::after
        display: none

@media screen and (max-width: 1100px)
    .swiperPrevButton
        margin-left: -6px 
    
    .swiperNextButton
        margin-right: -6px

@media screen and (max-width: 899px)
    .swiperPrevButton, .swiperNextButton
        display: none

